In [3]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt 
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"] == (20,10)
# !pip.install impyute
from sklearn import datasets
from  sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from scipy import stats
# import impyute as impy
# from fancyimpute import IterativeSVD, SoftImpute, NuclearNormMinimization
import time

In [4]:
df=pd.read_csv("DoanhThuDemo.csv")

In [5]:
df.isnull().sum()

               0
Ma Cua Hang    0
Doanh Thu      3
Chi Phi        4
Loi Nhuan      1
dtype: int64

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99129 entries, 0 to 99128
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0                99129 non-null  object
 1   Ma Cua Hang  99129 non-null  object
 2   Doanh Thu    99126 non-null  object
 3   Chi Phi      99125 non-null  object
 4   Loi Nhuan    99128 non-null  object
dtypes: object(5)
memory usage: 3.8+ MB

In [5]:
df.shape

In [33]:
df['Doanh Thu'].value_counts()

0              73
23748          15
22062          12
20458          12
22333          12
               ..
14360           1
5696            1
15420           1
18815           1
14651-14600     1
Name: Doanh Thu, Length: 40236, dtype: int64

# tách chuỗi

In [7]:
df['So Hieu Cua Hang']=df['Ma Cua Hang'].apply(lambda x: str(x.split(' ')[1]))
df['So Hieu Cua Hang'].unique()

array(['0001', '0002', '0003', ..., '5903', '5904', '5905'], dtype=object)

In [11]:
def is_float(x):
    try:
            float(x)
    except:
            return False
    return  True

In [12]:
df[~df['Chi Phi'].apply(is_float)].head(5)

                 Ma Cua Hang Doanh Thu    Chi Phi Loi Nhuan
4       1/1/2021     CH 0005      9195  7452-7000      1743
73955  1/13/2021     CH 3994      1882  1604-1604       278

In [13]:
df[~df['Loi Nhuan'].apply(is_float)].head(5)

                 Ma Cua Hang Doanh Thu Chi Phi  Loi Nhuan
1       1/1/2021     CH 0002       NaN     NaN  1243-1200
74059  1/13/2021     CH 4098      8088    7391    697-600

In [14]:
df[~df['Doanh Thu'].apply(is_float)].head()

             Ma Cua Hang    Doanh Thu Chi Phi Loi Nhuan
0   1/1/2021     CH 0001  14651-14600   12685      1966
8   1/1/2021     CH 0009  15918-15900   13716      2202
15  1/1/2021     CH 0016  32638-32000   26933      5705

In [43]:
def convert_to_num(x):
    tokens = str(x).split('-')
    if len(tokens) == 2:
            return (float(tokens[0])+float(tokens[1]))/2
    try:
        return float(x)
    except:
        return None

In [44]:
df3=df.copy()
df3['Doanh Thu']=df3['Doanh Thu'].apply(convert_to_num)
# df3.head(20)

In [45]:
df3['Chi Phi']=df3['Chi Phi'].apply(convert_to_num)
# df3.head(6)

In [15]:
# df3[~df3['Chi Phi'].apply(is_float)].head(5)

In [46]:
df3['Loi Nhuan']=df3['Loi Nhuan'].apply(convert_to_num)
df3.head()

            Ma Cua Hang  Doanh Thu  Chi Phi  Loi Nhuan
0  1/1/2021     CH 0001    14625.5  12685.0     1966.0
1  1/1/2021     CH 0002        NaN      NaN     1221.5
2  1/1/2021     CH 0003        NaN   7017.0     1709.0
3  1/1/2021     CH 0004    27120.0  23788.0     3332.0
4  1/1/2021     CH 0005     9195.0   7226.0     1743.0

In [17]:
# df3[~df3['Loi Nhuan'].apply(is_float)].head(5)

#  thay thế bằng giá trị trung bình

In [47]:
# df3['Doanh Thu'] = df3['Doanh Thu'].fillna(df3.mean()['Doanh Thu'])
from sklearn.impute import SimpleImputer

imputer= SimpleImputer(missing_values =df3['Doanh Thu'].isnull(), strategy='mean')
imputer.fit_transform(df3['Doanh Thu'])

ValueError: Expected 2D array, got 1D array instead:
array=[14625.5     nan     nan ... 26908.  25261.  10711. ].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [ ]:
df3['Chi Phi'] = df3['Chi Phi'].fillna(df3.mean()['Chi Phi'])

In [ ]:
df3['Loi Nhuan']=df3['Loi Nhuan'].fillna(df3.mean()['Loi Nhuan'])

In [ ]:
df3.head()

In [ ]:
# df3.describe()

In [ ]:
# df3.to_excel("BaoCao 05-12.xlsx")

In [ ]:
df4=df3.copy()

In [ ]:
df4['Ma Cua Hang']=df4['Ma Cua Hang'].apply(lambda x : x.strip())
MaCuaHang=df4['Ma Cua Hang'].value_counts(ascending= False )
MaCuaHang

In [ ]:
MaCuaHang.values.sum()

In [ ]:
len(MaCuaHang[MaCuaHang<=1])

In [ ]:
len(MaCuaHang[MaCuaHang>1])

In [ ]:
MaCuaHang_less_than_1=MaCuaHang[MaCuaHang<=2]
MaCuaHang_less_than_1

In [ ]:
len(df4['Ma Cua Hang'].unique())

In [ ]:
df4['Ma Cua Hang']=df4['Ma Cua Hang'].apply(lambda x: 'other' if x in MaCuaHang_less_than_1 else x)
len(df4['Ma Cua Hang'].unique())

In [ ]:
df4.head(10)