In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt 
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"] == (20,10)

False

In [3]:
df=pd.read_csv(r"C:\Users\Nhan\Documents\Data Cleaning\source file\tonkho 22-11.csv",encoding='ISO-8859-1')
df.head(10)

,MaKho,TenKho,MaVatTu,TenVatTu,DVT,SoLo,DauKy,HanSuDung,SoChungTu,Ngay,...,NgaySX,SoLoID,MaLocator,TyLe621,TyLe622,TyLe627,MaNhomTB,TenNhomTB,MaTB,TenTB
0,17,Kho Thành ph?m Cu?n (Cty),2.006236,272/07 BESTFOOD org #Màng OPP seal kh? 215mm (...,M2,LSX1.2208.1084,6880-6000,NaN,NaN,NaN,...,31/08/2022,PN172208.1321#LSX1.2208.1084#02.006236#1,0,92.6397,3.5345,3.8258,NaN,NaN,NaN,NaN
1,17,Kho Thành ph?m Cu?n (Cty),2.006236,272/07 BESTFOOD org #Màng OPP seal kh? 215mm (...,M2,LSX1.2208.1084,0,NaN,BH012209.0268-XB2209.0353,14/09/2022,...,31/08/2022,PN172208.1321#LSX1.2208.1084#02.006236#1,0,92.6397,3.5345,3.8258,NaN,NaN,NaN,NaN
2,17,Kho Thành ph?m Cu?n (Cty),2.014751,1824/11 LEVER (20275415) # Màng Viso 350gr cha...,M2,LSX1.2208.585,0,NaN,PN172209.0027,1/9/2022,...,1/9/2022,PN172209.0027#LSX1.2208.585#02.014751#1,0,83.5613,4.5801,11.8586,NaN,NaN,NaN,NaN
3,17,Kho Thành ph?m Cu?n (Cty),2.016713,301/13 (64026898)LEVER # Màng in m?t th?n s? d...,M2,LSX1.2208.232,2280-2000,NaN,NaN,NaN,...,20/08/2022,PN172208.0867#LSX1.2208.232#02.016713#1,0,80.7979,5.6829,13.5192,NaN,NaN,NaN,NaN
4,17,Kho Thành ph?m Cu?n (Cty),2.016713,301/13 (64026898)LEVER # Màng in m?t th?n s? d...,M2,LSX1.2208.232,0,NaN,BH012209.0020-XB2209.0020,1/9/2022,...,20/08/2022,PN172208.0867#LSX1.2208.232#02.016713#1,0,80.7979,5.6829,13.5192,NaN,NaN,NaN,NaN
5,17,Kho Thành ph?m Cu?n (Cty),2.016713,301/13 (64026898)LEVER # Màng in m?t th?n s? d...,M2,LSX1.2208.232,285-200,NaN,NaN,NaN,...,22/08/2022,PN172208.0902#LSX1.2208.232#02.016713#1,0,80.7979,5.6829,13.5192,NaN,NaN,NaN,NaN
6,17,Kho Thành ph?m Cu?n (Cty),2.016713,301/13 (64026898)LEVER # Màng in m?t th?n s? d...,M2,LSX1.2208.232,0,NaN,BH012209.0020 - XB2209.0020,1/9/2022,...,22/08/2022,PN172208.0902#LSX1.2208.232#02.016713#1,0,80.7979,5.6829,13.5192,NaN,NaN,NaN,NaN
7,17,Kho Thành ph?m Cu?n (Cty),2.018121,122/14 (308342) Perfetti # Màng Mentos fresh t...,M2,DK201407.0433,0,1/1/2014,NaN,NaN,...,NaN,DK201407.0433.02.018121,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,17,Kho Thành ph?m Cu?n (Cty),2.018523,(575/14)(P1043081)Màng Palmolive d?u g?i du?ng...,M2,LSX1.1505.234,0,9/6/2015,NaN,NaN,...,NaN,PN171506.0460#LSX1.1505.234#02.018523,0,79.4934,3.3852,17.1214,NaN,NaN,NaN,NaN
9,17,Kho Thành ph?m Cu?n (Cty),2.018705,(P1043082) - Màng Palmolive d?u g?i du?ng ?m b...,M2,LSX1.1505.235,0,NaN,NaN,NaN,...,NaN,PN171506.0344#LSX1.1505.235#02.018705,0,78.9426,3.2091,17.8483,NaN,NaN,NaN,NaN

In [4]:
df.shape

(2928, 25)

In [5]:
df.columns

Index(['MaKho', 'TenKho', 'MaVatTu', 'TenVatTu', 'DVT', 'SoLo', 'DauKy',
       'HanSuDung', 'SoChungTu', 'Ngay', 'DienGiai', 'Nhap', 'Xuat', 'CuoiKy',
       'LSX', 'NgaySX', 'SoLoID', 'MaLocator', 'TyLe621', 'TyLe622', 'TyLe627',
       'MaNhomTB', 'TenNhomTB', 'MaTB', 'TenTB'],
      dtype='object')

In [6]:
df['DauKy'].unique()

array(['6880-6000', '0', '2280-2000', '285-200', '9310-9300', '7680',
       '11520', '2880', '95', '34440', '7560', '600', '11160', '840',
       '360', '19800', '9900', '7200', '180', '2660', '4095', '1170',
       '3768.75', '2512.5', '6030', '251.25', '4760', '560', '15680',
       '280', '640', '24080', '22680', '6160', '1400', '4080', '13872',
       '6120', '714', '28662', '12240', '35496', '2448', '5655', '1560',
       '12900', '1500', '4875', '11310', '390', '9750', '20085', '2145',
       '3230', '13965', '6464', '15840', '23040', '16800', '10500',
       '25200', '1080', '31560', '17673.6', '18936', '25248', '12624',
       '10704', '5232', '15696', '26160', '13917.12', '9100', '10791',
       '29430', '4905', '1962', '13430', '31600', '3950', '340', '6000',
       '2250', '41280', '960', '12480', '1344', '1008', '2016', '10080',
       '336', '4100', '328', '31104', '17280', '576', '10368', '480',
       '5760', '4608', '7840', '8400', '6720', '9864', '39456', '35839.2',
       '8768', '37264', '6466.4', '22577.6', '19728', '712.4', '2192',
       '17536', '1096', '52762.5', '70245', '35280', '34335', '7875',
       '2835', '1575', '6615', '9216', '1056', '528', '16704', '7400',
       '1480', '10360', '8880', '22200', '5920', '4440', '18500', '20720',
       '6660', '740', '8235', '4646', '12928', '21816', '4848', '13736',
       '1535.2', '808', '4420', '17510', '1020', '1530', '32190', '680',
       '5568', '9744', '24592', '12528', '8352', '3700', '14060', '9180',
       '25755', '20655', '15300', '24150', '350', '9000', '2000', '3456',
       '1152', '32256', '5537', '1243', '10787', '28140', '7035', '469',
       '22512', '11256', '20167', '2960', '12580', '19980', '26560',
       '2490', '4980', '4150', '1660', '29880', '20750', '14110', '20580',
       '3714.8', '7530', '10542', '20331', '13554', '8082.2', '8283',
       '401.6', '612', '7038', '12450', '7470', '26904', '18644', '1652',
       '354', '25488', '27258', '19470', '1062', '208950', '13944',
       '20916', '26892', '36852', '3984', '35856', '9462', '996', '30876',
       '39342', '12948', '22908', '498', '61752', '47808', '29592',
       '11172', '3528', '33840', '10152', '376', '692', '11418', '1730',
       '3114', '1038', '15416', '21432', '1880', '16262', '4888', '23312',
       '1128', '1800', '300', '10960', '12056', '21920', '9342', '1384',
       '7350', '12960', '15848', '6792', '566', '1132', '6960', '4176',
       '11136', '18096', '25056', '696', '19488', '17458', '23664',
       '2784', '15312', '13282', '41760', '1392', '37584', '38976', '780',
       '20670', '1214.4', '1545.6', '16560', '1104', '4968', '1932',
       '20520', '1140', '3465', '630', '2205', '28496', '4384', '22632.4',
       '55440', '44352', '22176', '33264', '19140', '1276', '11700',
       '4416', '1656', '1150', '230', '2370', '395', '9570', '2506.25',
       '2260', '13499.25', '8886.2', '6226', '4200', '1416', '502.5',
       '9798.75', '12060', '306', '5400', '1350', '13942.5', '877.5',
       '34800', '11616', '27840', '33408', '23316', '2146', '6380',
       '2610', '25500', '18000', '16150', '13572', '9936', '414',
       '1702.4', '21067.2', '638.4', '1836', '22950', '2754', '20196',
       '918', '29000', '4060', '10440', '870', '14500', '23616', '11808',
       '3936', '31488', '29520', '1968', '20736', '12672', '48384',
       '41472', '27648', '13824', '5688', '22752', '3792', '1896',
       '34128', '28440', '7584', '9942.8', '562.8', '375.2', '750.4',
       '900', '2400', '1200', '16440', '1072.5', '23425.2', '39042',
       '31233.6', '33836.4', '24882', '9280', '18560', '580', '5094',
       '837.68', '16272.5', '25132', '2884', '824', '26780', '9270',
       '206', '9682', '10300', '10044', '22599', '25110', '6277.5', '279',
       '10350', '862.5', '517.5', '18457.5', '14490', '1035', '34500',
       '1552.5', '14145', '29890', '28975', '346', '26988', '29328',
       '752', '5190', '9024', '14664', '3728', '12285', '15750', '19950',
       '4725', '2625', '9450', '8295', '8829', '826', '7691.6', '10318',
       '1688.4', '1313', '16066', '4810', '12210', '9400', '30456',
       '42864', '1504', '4512', '34968', '2256', '23688', '5264', '37976',
       '60160', '13536', '20304', '31208', '1728', '864', '25944',
       '38352', '12801', '15600', '16280', '10800', '5184', '1296',
       '66816', '72384', '39960', '18870', '450', '43120', '16500',
       '12000', '375', '36168', '8384.4', '15344', '13974', '10631.2',
       '24769.6', '11407.5', '9240', '40320', '42840', '5880', '29400',
       '12675', '1600', '10400', '17604', '20880', '1185', '1327.5',
       '2950'], dtype=object)

In [7]:
df['MaVatTu'].value_counts()

2.033714    53
2.033361    31
2.034830    31
2.034370    28
2.034185    27
            ..
2.031791     1
2.031795     1
2.032589     1
2.032534     1
2.034029     1
Name: MaVatTu, Length: 469, dtype: int64

In [8]:
df1=df.drop(['SoLoID','MaLocator','TyLe621','TyLe622','TyLe627','MaNhomTB','TenNhomTB','MaTB','TenTB'],axis='columns')
df1.shape

(2928, 16)

In [9]:
df1.isnull().sum()

MaKho           0
TenKho          0
MaVatTu         0
TenVatTu        0
DVT             0
SoLo            0
DauKy           0
HanSuDung    2926
SoChungTu     686
Ngay          686
DienGiai      688
Nhap            0
Xuat            0
CuoiKy          0
LSX          1966
NgaySX          7
dtype: int64

In [10]:
df1.columns

Index(['MaKho', 'TenKho', 'MaVatTu', 'TenVatTu', 'DVT', 'SoLo', 'DauKy',
       'HanSuDung', 'SoChungTu', 'Ngay', 'DienGiai', 'Nhap', 'Xuat', 'CuoiKy',
       'LSX', 'NgaySX'],
      dtype='object')

In [11]:
df1['SoChungTu'].value_counts()

BH012209.0036 - XB2209.0040    13
BH012209.0451 - XB2209.0585    13
BH012209.0064 - XB2209.0072    12
BH022209.0002 - XB2209.0150    12
BH012209.0249 - XB2209.0331    11
                               ..
PN172209.0112                   1
PN172209.0187                   1
PN172209.0230                   1
PN172209.0695                   1
PN172209.0720                   1
Name: SoChungTu, Length: 1297, dtype: int64

# Tách chuỗi ký tự ngăn cách bởi dấu '-'

In [ ]:
# def conveter(x):
#       try:
#             df1['SoChungTu'].apply(lambda x: str(x.split(' - ')[0]))
#         except:
#             return False
#         return True

In [ ]:
df1.to_csv('TonKhofiltered1.csv')

In [ ]:
def is_float(x):
        try: float(x)
        except:
            return False
        return True

In [ ]:
df1[~df1['DauKy'].apply(is_float)]