In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt 
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"] == (20,10)

False

In [13]:
df=pd.read_excel(r"C:\Users\Nhan\Documents\Data Cleaning\source file\DoanhThuDemo.xlsx")

In [14]:
df.isnull().sum()

Unnamed: 0     0
               0
Ma Cua Hang    0
Doanh Thu      3
Chi Phi        1
Loi Nhuan      1
dtype: int64

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99129 entries, 0 to 99128
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   99129 non-null  int64
 1                99129 non-null  datetime64[ns]
 2   Ma Cua Hang  99129 non-null  object
 3   Doanh Thu    99126 non-null  object
 4   Chi Phi      99128 non-null  object
 5   Loi Nhuan    99128 non-null  object
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 4.5+ MB

In [16]:
df.shape

(99129, 6)

In [17]:
df['Doanh Thu'].value_counts()

0               73
23748           15
20458           12
22062           12
22333           12
                ..
5696             1
15420            1
18815            1
4243             1
14625.5-1400     1
Name: Doanh Thu, Length: 40234, dtype: int64

In [18]:
df['So Hieu Cua Hang']=df['Ma Cua Hang'].apply(lambda x: str(x.split(' ')[1]))
df['So Hieu Cua Hang'].unique()

array(['0001', '0002', '0003', ..., '5903', '5904', '5905'], dtype=object)

In [19]:
def is_float(x):
    try:
            float(x)
    except:
            return False
    return  True

In [35]:
df1=df.copy()
df1[~df1['Chi Phi'].apply(is_float)].head(5)

,Unnamed: 0,,Ma Cua Hang,Doanh Thu,Chi Phi,Loi Nhuan,So Hieu Cua Hang
1,1,2021-01-01,CH 0002,22354.036362,19557.4493926921-19550,1243,0002

In [36]:
df1[~df1['Loi Nhuan'].apply(is_float)].head(5)

,Unnamed: 0,,Ma Cua Hang,Doanh Thu,Chi Phi,Loi Nhuan,So Hieu Cua Hang
2,2,2021-01-01,CH 0003,NaN,7017,1709-1700,0003

In [37]:
df1[~df1['Doanh Thu'].apply(is_float)].head()

,Unnamed: 0,,Ma Cua Hang,Doanh Thu,Chi Phi,Loi Nhuan,So Hieu Cua Hang
0,0,2021-01-01,CH 0001,14625.5-1400,12685,1966,0001

In [38]:
def convert_to_num(x):
    tokens = str(x).split('-')
    if len(tokens) == 2:
            return (float(tokens[0])+float(tokens[1]))/2
    try:
        return float(x)
    except:
        return None

In [75]:
df1['Doanh Thu']=df1['Doanh Thu'].apply(convert_to_num)

In [76]:
df1.head(10)

,Unnamed: 0,,Ma Cua Hang,Doanh Thu,Chi Phi,Loi Nhuan,So Hieu Cua Hang
0,0,2021-01-01,CH 0001,8012.750000,12685.000000,1966.0,0001
1,1,2021-01-01,CH 0002,22354.036362,19553.724696,1243.0,0002
2,2,2021-01-01,CH 0003,22354.264611,7017.000000,1704.5,0003
3,3,2021-01-01,CH 0004,27120.000000,19557.528798,3332.0,0004
5,5,2021-01-01,CH 0006,22354.264611,18300.500000,1302.0,0006
6,6,2021-01-01,CH 0007,63208.000000,55556.000000,7652.0,0007
7,7,2021-01-01,CH 0008,27605.000000,25083.000000,2522.0,0008
8,8,2021-01-01,CH 0009,15909.000000,13716.000000,2202.0,0009
9,9,2021-01-01,CH 0010,13108.000000,11183.000000,1925.0,0010
10,10,2021-01-01,CH 0011,20837.000000,16938.000000,3899.0,0011

In [43]:
df1['Chi Phi']=df1['Chi Phi'].apply(convert_to_num)

In [71]:
df1.head(10)

,Unnamed: 0,,Ma Cua Hang,Doanh Thu,Chi Phi,Loi Nhuan,So Hieu Cua Hang
0,0,2021-01-01,CH 0001,8012.750000,12685.000000,1966.0,0001
1,1,2021-01-01,CH 0002,22354.036362,19553.724696,1243.0,0002
2,2,2021-01-01,CH 0003,22354.264611,7017.000000,1704.5,0003
3,3,2021-01-01,CH 0004,27120.000000,19557.528798,3332.0,0004
5,5,2021-01-01,CH 0006,22354.264611,18300.500000,1302.0,0006
6,6,2021-01-01,CH 0007,63208.000000,55556.000000,7652.0,0007
7,7,2021-01-01,CH 0008,27605.000000,25083.000000,2522.0,0008
8,8,2021-01-01,CH 0009,15909.000000,13716.000000,2202.0,0009
9,9,2021-01-01,CH 0010,13108.000000,11183.000000,1925.0,0010
10,10,2021-01-01,CH 0011,20837.000000,16938.000000,3899.0,0011

In [52]:
df1['Loi Nhuan']=df1['Loi Nhuan'].apply(convert_to_num)

In [53]:
df1.head(10)

,Unnamed: 0,,Ma Cua Hang,Doanh Thu,Chi Phi,Loi Nhuan,So Hieu Cua Hang
0,0,2021-01-01,CH 0001,8012.750000,12685.000000,1966.0,0001
1,1,2021-01-01,CH 0002,22354.036362,19553.724696,1243.0,0002
2,2,2021-01-01,CH 0003,NaN,7017.000000,1704.5,0003
3,3,2021-01-01,CH 0004,27120.000000,NaN,3332.0,0004
5,5,2021-01-01,CH 0006,NaN,18300.500000,1302.0,0006
6,6,2021-01-01,CH 0007,63208.000000,55556.000000,7652.0,0007
7,7,2021-01-01,CH 0008,27605.000000,25083.000000,2522.0,0008
8,8,2021-01-01,CH 0009,15909.000000,13716.000000,2202.0,0009
9,9,2021-01-01,CH 0010,13108.000000,11183.000000,1925.0,0010
10,10,2021-01-01,CH 0011,20837.000000,16938.000000,3899.0,0011

In [54]:
df1['Doanh Thu'] = df1['Doanh Thu'].fillna(df1.mean()['Doanh Thu'])

C:\Users\Nhan\AppData\Local\Temp\ipykernel_9092\2038745650.py:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df1['Doanh Thu'] = df1['Doanh Thu'].fillna(df1.mean()['Doanh Thu'])
C:\Users\Nhan\AppData\Local\Temp\ipykernel_9092\2038745650.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df1['Doanh Thu'] = df1['Doanh Thu'].fillna(df1.mean()['Doanh Thu'])

In [55]:
df1['Chi Phi'] = df1['Chi Phi'].fillna(df1.mean()['Chi Phi'])

C:\Users\Nhan\AppData\Local\Temp\ipykernel_9092\288727167.py:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df1['Chi Phi'] = df1['Chi Phi'].fillna(df1.mean()['Chi Phi'])
C:\Users\Nhan\AppData\Local\Temp\ipykernel_9092\288727167.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df1['Chi Phi'] = df1['Chi Phi'].fillna(df1.mean()['Chi Phi'])

In [56]:
df1['Loi Nhuan']=df1['Loi Nhuan'].fillna(df1.mean()['Loi Nhuan'])

C:\Users\Nhan\AppData\Local\Temp\ipykernel_9092\2353268808.py:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df1['Loi Nhuan']=df1['Loi Nhuan'].fillna(df1.mean()['Loi Nhuan'])
C:\Users\Nhan\AppData\Local\Temp\ipykernel_9092\2353268808.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df1['Loi Nhuan']=df1['Loi Nhuan'].fillna(df1.mean()['Loi Nhuan'])

In [57]:
df1.head()

,Unnamed: 0,,Ma Cua Hang,Doanh Thu,Chi Phi,Loi Nhuan,So Hieu Cua Hang
0,0,2021-01-01,CH 0001,8012.750000,12685.000000,1966.0,0001
1,1,2021-01-01,CH 0002,22354.036362,19553.724696,1243.0,0002
2,2,2021-01-01,CH 0003,22354.264611,7017.000000,1704.5,0003
3,3,2021-01-01,CH 0004,27120.000000,19557.528798,3332.0,0004
5,5,2021-01-01,CH 0006,22354.264611,18300.500000,1302.0,0006

In [58]:
df1.describe()

         Unnamed: 0     Doanh Thu       Chi Phi     Loi Nhuan
count  99128.000000  99128.000000  99128.000000  99128.000000
mean   49564.499960  22354.264611  19557.528798   2796.564952
std    28615.933149  12044.632508  10595.387342   1866.471719
min        0.000000      0.000000      0.000000      0.000000
25%    24782.750000  13214.000000  11516.750000   1378.000000
50%    49564.500000  21750.500000  19009.000000   2439.000000
75%    74346.250000  30556.000000  26701.250000   3867.000000
max    99128.000000  69571.000000  63893.000000  12812.000000

In [70]:
df1.to_csv(r"C:\Users\Nhan\Documents\Data Cleaning\source file\data mining revenue 25-12-202.csv")

In [59]:
df4=df1.copy()

In [60]:
df4['Ma Cua Hang']=df1['Ma Cua Hang'].apply(lambda x : x.strip())
MaCuaHang=df4['Ma Cua Hang'].value_counts(ascending= False )
MaCuaHang

CH 0001    17
CH 3879    17
CH 3877    17
CH 3876    17
CH 3875    17
           ..
CH 5851     1
CH 5849     1
CH 5848     1
CH 5847     1
CH 5865     1
Name: Ma Cua Hang, Length: 5905, dtype: int64

In [61]:
MaCuaHang.values.sum()

99128

In [62]:
len(MaCuaHang[MaCuaHang<=1])

60

In [63]:
len(MaCuaHang[MaCuaHang>1])

5845

In [64]:
MaCuaHang_less_than_1=MaCuaHang[MaCuaHang<=2]
MaCuaHang_less_than_1

CH 5882    2
CH 5905    2
CH 5904    2
CH 5885    1
CH 5875    1
          ..
CH 5851    1
CH 5849    1
CH 5848    1
CH 5847    1
CH 5865    1
Name: Ma Cua Hang, Length: 63, dtype: int64

In [65]:
len(df4['Ma Cua Hang'].unique())

5905

In [66]:
df4['Ma Cua Hang']=df4['Ma Cua Hang'].apply(lambda x: 'other' if x in MaCuaHang_less_than_1 else x)
len(df4['Ma Cua Hang'].unique())

5843

In [67]:
df4.head(10)

,Unnamed: 0,,Ma Cua Hang,Doanh Thu,Chi Phi,Loi Nhuan,So Hieu Cua Hang
0,0,2021-01-01,CH 0001,8012.750000,12685.000000,1966.0,0001
1,1,2021-01-01,CH 0002,22354.036362,19553.724696,1243.0,0002
2,2,2021-01-01,CH 0003,22354.264611,7017.000000,1704.5,0003
3,3,2021-01-01,CH 0004,27120.000000,19557.528798,3332.0,0004
5,5,2021-01-01,CH 0006,22354.264611,18300.500000,1302.0,0006
6,6,2021-01-01,CH 0007,63208.000000,55556.000000,7652.0,0007
7,7,2021-01-01,CH 0008,27605.000000,25083.000000,2522.0,0008
8,8,2021-01-01,CH 0009,15909.000000,13716.000000,2202.0,0009
9,9,2021-01-01,CH 0010,13108.000000,11183.000000,1925.0,0010
10,10,2021-01-01,CH 0011,20837.000000,16938.000000,3899.0,0011

In [ ]:
#df4.to_csv('Doanh Thu 30-11-2022.csv')