In [2]:
import pandas as pd
import numpy as np

In [6]:
iv=pd.read_excel(r"C:\Users\Nhan\Documents\Data Cleaning\source file\tonKho07-12-2022.xlsx", index_col= "NgaySX", parse_dates = True)

In [7]:
iv.head(5)

,MaKho,TenKho,MaVatTu,TenVatTu,DVT,SoLo,SoChungTu,DauKy,Nhap,Xuat,CuoiKy
NgaySX,,,,,,,,,,,
2019-02-27,17,Kho Thành phẩm Cuộn (Cty),2.034709,Pepsi (promo in code 2)#(22NPC1302)Màng Snack ...,m2,LSX1.2207.923,NaN,4080.0,0.0,0.0,0
2019-03-11,17,Kho Thành phẩm Cuộn (Cty),2.034710,Pepsi (promo in code 2)# (22NPC0504) Màng Snac...,m2,LSX1.2207.920,NaN,9750.0,0.0,0.0,0
2019-09-24,17,Kho Thành phẩm Cuộn (Cty),2.034710,Pepsi (promo in code 2)# (22NPC0504) Màng Snac...,m2,LSX1.2207.920,NaN,4875.0,0.0,0.0,0
2019-09-27,17,Kho Thành phẩm Cuộn (Cty),2.034710,Pepsi (promo in code 2)# (22NPC0504) Màng Snac...,m2,LSX1.2207.920,NaN,5655.0,0.0,0.0,0
2019-09-27,17,Kho Thành phẩm Cuộn (Cty),2.034710,Pepsi (promo in code 2)# (22NPC0504) Màng Snac...,m2,LSX1.2207.920,NaN,11310.0,0.0,0.0,0

In [8]:
iv.shape

(2928, 11)

In [9]:
iv.columns

Index(['MaKho', 'TenKho', 'MaVatTu', 'TenVatTu', 'DVT', 'SoLo', 'SoChungTu',
       'DauKy', 'Nhap', 'Xuat', 'CuoiKy'],
      dtype='object')

In [14]:
iv1=iv.drop(['CuoiKy'],axis='columns')

In [15]:
iv1.isnull().sum()

MaKho          0
TenKho         0
MaVatTu        0
TenVatTu       0
DVT            0
SoLo           0
SoChungTu    686
DauKy          0
Nhap           0
Xuat           0
dtype: int64

In [16]:
iv1.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2928 entries, 2019-02-27 to NaT
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   MaKho      2928 non-null   int64
 1   TenKho     2928 non-null   object
 2   MaVatTu    2928 non-null   float64
 3   TenVatTu   2928 non-null   object
 4   DVT        2928 non-null   object
 5   SoLo       2928 non-null   object
 6   SoChungTu  2242 non-null   object
 7   DauKy      2928 non-null   float64
 8   Nhap       2928 non-null   float64
 9   Xuat       2928 non-null   float64
dtypes: float64(4), int64(1), object(5)
memory usage: 251.6+ KB

In [17]:
iv1.head(5)

,MaKho,TenKho,MaVatTu,TenVatTu,DVT,SoLo,SoChungTu,DauKy,Nhap,Xuat
NgaySX,,,,,,,,,,
2019-02-27,17,Kho Thành phẩm Cuộn (Cty),2.034709,Pepsi (promo in code 2)#(22NPC1302)Màng Snack ...,m2,LSX1.2207.923,NaN,4080.0,0.0,0.0
2019-03-11,17,Kho Thành phẩm Cuộn (Cty),2.034710,Pepsi (promo in code 2)# (22NPC0504) Màng Snac...,m2,LSX1.2207.920,NaN,9750.0,0.0,0.0
2019-09-24,17,Kho Thành phẩm Cuộn (Cty),2.034710,Pepsi (promo in code 2)# (22NPC0504) Màng Snac...,m2,LSX1.2207.920,NaN,4875.0,0.0,0.0
2019-09-27,17,Kho Thành phẩm Cuộn (Cty),2.034710,Pepsi (promo in code 2)# (22NPC0504) Màng Snac...,m2,LSX1.2207.920,NaN,5655.0,0.0,0.0
2019-09-27,17,Kho Thành phẩm Cuộn (Cty),2.034710,Pepsi (promo in code 2)# (22NPC0504) Màng Snac...,m2,LSX1.2207.920,NaN,11310.0,0.0,0.0

In [18]:
iv1.sort_values(by = 'NgaySX',axis= 0, ascending = True,inplace=True)
# iv1.head(10)

In [19]:
iv1.replace(to_replace=0,value=999)

,MaKho,TenKho,MaVatTu,TenVatTu,DVT,SoLo,SoChungTu,DauKy,Nhap,Xuat
NgaySX,,,,,,,,,,
2019-02-27,17,Kho Thành phẩm Cuộn (Cty),2.034709,Pepsi (promo in code 2)#(22NPC1302)Màng Snack ...,m2,LSX1.2207.923,NaN,4080.000000,999.0,999.0
2019-03-11,17,Kho Thành phẩm Cuộn (Cty),2.034710,Pepsi (promo in code 2)# (22NPC0504) Màng Snac...,m2,LSX1.2207.920,NaN,9750.000000,999.0,999.0
2019-09-24,17,Kho Thành phẩm Cuộn (Cty),2.034710,Pepsi (promo in code 2)# (22NPC0504) Màng Snac...,m2,LSX1.2207.920,NaN,4875.000000,999.0,999.0
2019-09-27,17,Kho Thành phẩm Cuộn (Cty),2.034710,Pepsi (promo in code 2)# (22NPC0504) Màng Snac...,m2,LSX1.2207.920,NaN,5655.000000,999.0,999.0
2019-09-27,17,Kho Thành phẩm Cuộn (Cty),2.034710,Pepsi (promo in code 2)# (22NPC0504) Màng Snac...,m2,LSX1.2207.920,NaN,11310.000000,999.0,999.0
...,...,...,...,...,...,...,...,...,...,...
NaT,17,Kho Thành phẩm Cuộn (Cty),2.034700,Pepsi (promo in code 2)# (22NPC0404) Màng Snac...,m2,LSX1.2208.894,NaN,0.000008,999.0,999.0
NaT,17,Kho Thành phẩm Cuộn (Cty),2.034700,Pepsi (promo in code 2)# (22NPC0404) Màng Snac...,m2,LSX1.2208.894,NaN,0.000060,999.0,999.0
NaT,17,Kho Thành phẩm Cuộn (Cty),2.034700,Pepsi (promo in code 2)# (22NPC0404) Màng Snac...,m2,LSX1.2208.894,NaN,0.000008,999.0,999.0
NaT,17,Kho Thành phẩm Cuộn (Cty),2.034700,Pepsi (promo in code 2)# (22NPC0404) Màng Snac...,m2,LSX1.2208.894,NaN,0.000600,999.0,999.0
NaT,17,Kho Thành phẩm Cuộn (Cty),2.034833,Lever#Màng nước giặt OMO Matic LQ Gold Samplin...,m2,LSX1.2208.636,NaN,1243.000000,999.0,999.0

In [31]:
# iv1.to_excel('C:/Users/Nhan/Documents/Data Cleaning/tonKho07-12-2022.xlsx')