In [7]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt 
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"] == (20,10)
# !pip.install impyute
from sklearn import datasets
from  sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from scipy import stats
# import impyute as impy
# from fancyimpute import IterativeSVD, SoftImpute, NuclearNormMinimization
import time

In [8]:
df=pd.read_csv(r"C:\Users\Nhan\Documents\Data Cleaning\source file\DoanhThuDemo.csv")

In [9]:
df.isnull().sum()

               0
Ma Cua Hang    0
Doanh Thu      3
Chi Phi        4
Loi Nhuan      1
dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99129 entries, 0 to 99128
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0                99129 non-null  object
 1   Ma Cua Hang  99129 non-null  object
 2   Doanh Thu    99126 non-null  object
 3   Chi Phi      99125 non-null  object
 4   Loi Nhuan    99128 non-null  object
dtypes: object(5)
memory usage: 3.8+ MB

In [11]:
df.shape

(99129, 5)

In [12]:
df['Doanh Thu'].value_counts()

0              73
23748          15
22062          12
20458          12
22333          12
               ..
5696            1
15420           1
18815           1
4243            1
14651-14600     1
Name: Doanh Thu, Length: 40235, dtype: int64

# tách chuỗi

In [13]:
df['So Hieu Cua Hang']=df['Ma Cua Hang'].apply(lambda x: str(x.split(' ')[1]))
df['So Hieu Cua Hang'].unique()

array(['0001', '0002', '0003', ..., '5903', '5904', '5905'], dtype=object)

In [14]:
def is_float(x):
    try:
            float(x)
    except:
            return False
    return  True

In [15]:
df[~df['Chi Phi'].apply(is_float)].head(5)

                 Ma Cua Hang Doanh Thu    Chi Phi Loi Nhuan So Hieu Cua Hang
4       1/1/2021     CH 0005      9195  7452-7000      1743             0005
73955  1/13/2021     CH 3994      1882  1604-1604       278             3994

In [16]:
df[~df['Loi Nhuan'].apply(is_float)].head(5)

                 Ma Cua Hang Doanh Thu Chi Phi  Loi Nhuan So Hieu Cua Hang
1       1/1/2021     CH 0002       NaN     NaN  1243-1200             0002
74059  1/13/2021     CH 4098      8088    7391    697-600             4098

In [17]:
df[~df['Doanh Thu'].apply(is_float)].head()

             Ma Cua Hang    Doanh Thu Chi Phi Loi Nhuan So Hieu Cua Hang
0   1/1/2021     CH 0001  14651-14600   12685      1966             0001
8   1/1/2021     CH 0009  15918-15900   13716      2202             0009
15  1/1/2021     CH 0016  32638-32000   26933      5705             0016

In [18]:
def convert_to_num(x):
    tokens = str(x).split('-')
    if len(tokens) == 2:
            return (float(tokens[0])+float(tokens[1]))/2
    try:
        return float(x)
    except:
        return None

In [19]:
df3=df.copy()
df3['Doanh Thu']=df3['Doanh Thu'].apply(convert_to_num)
df3.head(20)

             Ma Cua Hang  Doanh Thu    Chi Phi  Loi Nhuan So Hieu Cua Hang
0   1/1/2021     CH 0001    14625.5      12685       1966             0001
1   1/1/2021     CH 0002        NaN        NaN  1243-1200             0002
2   1/1/2021     CH 0003        NaN       7017       1709             0003
3   1/1/2021     CH 0004    27120.0      23788       3332             0004
4   1/1/2021     CH 0005     9195.0  7452-7000       1743             0005
5   1/1/2021     CH 0006    19903.0      18601       1302             0006
6   1/1/2021     CH 0007    63208.0      55556       7652             0007
7   1/1/2021     CH 0008    27605.0      25083       2522             0008
8   1/1/2021     CH 0009    15909.0      13716       2202             0009
9   1/1/2021     CH 0010    13108.0        NaN       1925             0010
10  1/1/2021     CH 0011    20837.0      16938       3899             0011
11  1/1/2021     CH 0012    22326.0      20779       1547             0012
12  1/1/2021     CH 0013    13433.0      11317       2116             0013
13  1/1/2021     CH 0014    26029.0      21548       4481             0014
14  1/1/2021     CH 0015    18693.0      15516       3177             0015
15  1/1/2021     CH 0016    32319.0      26933       5705             0016
16  1/1/2021     CH 0017    38504.0      31465       7039             0017
17  1/1/2021     CH 0018    18086.0      16435        NaN             0018
18  1/1/2021     CH 0019     7985.0       6855       1130             0019
19  1/1/2021     CH 0020    23761.0      21161       2600             0020

In [20]:
df3['Chi Phi']=df3['Chi Phi'].apply(convert_to_num)
df3.head(6)

            Ma Cua Hang  Doanh Thu  Chi Phi  Loi Nhuan So Hieu Cua Hang
0  1/1/2021     CH 0001    14625.5  12685.0       1966             0001
1  1/1/2021     CH 0002        NaN      NaN  1243-1200             0002
2  1/1/2021     CH 0003        NaN   7017.0       1709             0003
3  1/1/2021     CH 0004    27120.0  23788.0       3332             0004
4  1/1/2021     CH 0005     9195.0   7226.0       1743             0005
5  1/1/2021     CH 0006    19903.0  18601.0       1302             0006

In [21]:
df3[~df3['Chi Phi'].apply(is_float)].head(5)

Empty DataFrame
Columns: [ , Ma Cua Hang, Doanh Thu, Chi Phi, Loi Nhuan, So Hieu Cua Hang]
Index: []

In [22]:
df3['Loi Nhuan']=df3['Loi Nhuan'].apply(convert_to_num)
df3.head()

            Ma Cua Hang  Doanh Thu  Chi Phi  Loi Nhuan So Hieu Cua Hang
0  1/1/2021     CH 0001    14625.5  12685.0     1966.0             0001
1  1/1/2021     CH 0002        NaN      NaN     1221.5             0002
2  1/1/2021     CH 0003        NaN   7017.0     1709.0             0003
3  1/1/2021     CH 0004    27120.0  23788.0     3332.0             0004
4  1/1/2021     CH 0005     9195.0   7226.0     1743.0             0005

In [23]:
df3[~df3['Loi Nhuan'].apply(is_float)].head(5)

Empty DataFrame
Columns: [ , Ma Cua Hang, Doanh Thu, Chi Phi, Loi Nhuan, So Hieu Cua Hang]
Index: []

#  thay thế bằng giá trị trung bình

In [24]:
df3['Doanh Thu'] = df3['Doanh Thu'].fillna(df3.mean()['Doanh Thu'])
#from sklearn.impute import SimpleImputer

#imputer= SimpleImputer(missing_values =df3['Doanh Thu'].isnull(), strategy='mean')
#imputer.fit_transform(df3['Doanh Thu'])

C:\Users\Nhan\AppData\Local\Temp\ipykernel_12264\552684755.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df3['Doanh Thu'] = df3['Doanh Thu'].fillna(df3.mean()['Doanh Thu'])

In [25]:
df3['Chi Phi'] = df3['Chi Phi'].fillna(df3.mean()['Chi Phi'])

C:\Users\Nhan\AppData\Local\Temp\ipykernel_12264\4075261415.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df3['Chi Phi'] = df3['Chi Phi'].fillna(df3.mean()['Chi Phi'])

In [26]:
df3['Loi Nhuan']=df3['Loi Nhuan'].fillna(df3.mean()['Loi Nhuan'])

C:\Users\Nhan\AppData\Local\Temp\ipykernel_12264\756515982.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df3['Loi Nhuan']=df3['Loi Nhuan'].fillna(df3.mean()['Loi Nhuan'])

In [27]:
df3.head()

,,Ma Cua Hang,Doanh Thu,Chi Phi,Loi Nhuan,So Hieu Cua Hang
0,1/1/2021,CH 0001,14625.500000,12685.000000,1966.0,0001
1,1/1/2021,CH 0002,22354.173844,19557.535153,1221.5,0002
2,1/1/2021,CH 0003,22354.173844,7017.000000,1709.0,0003
3,1/1/2021,CH 0004,27120.000000,23788.000000,3332.0,0004
4,1/1/2021,CH 0005,9195.000000,7226.000000,1743.0,0005

In [28]:
df3.describe()

          Doanh Thu       Chi Phi     Loi Nhuan
count  99129.000000  99129.000000  99129.000000
mean   22354.173844  19557.535153   2796.554152
std    12044.585670  10595.380217   1866.465460
min        0.000000      0.000000      0.000000
25%    13214.000000  11517.000000   1378.000000
50%    21750.000000  19009.000000   2439.000000
75%    30556.000000  26701.000000   3867.000000
max    69571.000000  63893.000000  12812.000000

In [29]:
df4=df3.copy()

In [30]:
df4['Ma Cua Hang']=df4['Ma Cua Hang'].apply(lambda x : x.strip())
MaCuaHang=df4['Ma Cua Hang'].value_counts(ascending= False )
MaCuaHang

CH 0001    17
CH 3879    17
CH 3877    17
CH 3876    17
CH 3875    17
           ..
CH 5870     1
CH 5871     1
CH 5872     1
CH 5873     1
CH 5832     1
Name: Ma Cua Hang, Length: 5905, dtype: int64

In [31]:
MaCuaHang.values.sum()

99129

In [32]:
len(MaCuaHang[MaCuaHang<=1])

60

In [33]:
len(MaCuaHang[MaCuaHang>1])

5845

In [34]:
MaCuaHang_less_than_1=MaCuaHang[MaCuaHang<=2]
MaCuaHang_less_than_1

CH 5882    2
CH 5904    2
CH 5905    2
CH 5846    1
CH 5847    1
          ..
CH 5870    1
CH 5871    1
CH 5872    1
CH 5873    1
CH 5832    1
Name: Ma Cua Hang, Length: 63, dtype: int64

In [35]:
len(df4['Ma Cua Hang'].unique())

5905

In [36]:
df4['Ma Cua Hang']=df4['Ma Cua Hang'].apply(lambda x: 'other' if x in MaCuaHang_less_than_1 else x)
len(df4['Ma Cua Hang'].unique())

5843

In [37]:
df4.head(10)

,,Ma Cua Hang,Doanh Thu,Chi Phi,Loi Nhuan,So Hieu Cua Hang
0,1/1/2021,CH 0001,14625.500000,12685.000000,1966.0,0001
1,1/1/2021,CH 0002,22354.173844,19557.535153,1221.5,0002
2,1/1/2021,CH 0003,22354.173844,7017.000000,1709.0,0003
3,1/1/2021,CH 0004,27120.000000,23788.000000,3332.0,0004
4,1/1/2021,CH 0005,9195.000000,7226.000000,1743.0,0005
5,1/1/2021,CH 0006,19903.000000,18601.000000,1302.0,0006
6,1/1/2021,CH 0007,63208.000000,55556.000000,7652.0,0007
7,1/1/2021,CH 0008,27605.000000,25083.000000,2522.0,0008
8,1/1/2021,CH 0009,15909.000000,13716.000000,2202.0,0009
9,1/1/2021,CH 0010,13108.000000,19557.535153,1925.0,0010